.wrapper {
    margin-top: 180px;
    margin-left: 600px;
    margin-right: 600px;
}
.loginError {
    background-color: #ffa5a5;
    color: #c40b0b;
    padding: 10px;
    text-align: center;
}
.tile {
    background-color: white;
    font-size: 16px;
    color: #9b9b9b;
    padding: 20px;
}
.title {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: #35637A;
}
.formGroup {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
input {
    width: 400px;
    height: 30px;
    padding: 10px;
    color: #636363;
    border: none;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #35637A;
    background-color: #e0f4ff;
}
input:active {
    background-color: #e0f4ff;
}
form {
    margin-top: 40px;
    text-align: center;
}
.alert {
    background-color: #ffa5a5;
    color: #c40b0b;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
    width: 400px;
    margin: 0 auto;
}
hr {
    border: none;
    background-color: #35637A;
    height: 1px;
}
.signIn {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom right, #35637A, rgb(24, 141, 199));
    color: white;
    border: none;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}
.signIn:hover {
    -moz-transition-duration: .4s;
    transition-duration: .4s;
    background: white;
    color: #35637A;
}
.signIn:disabled {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    background: #636363;
    cursor: context-menu;
}
.signIn:disabled:hover {
    -moz-transition-duration: .4s;
    transition-duration: .4s;
    color: white;
}
.footer {
    background: #e6e6e6;
    margin-left: 600px;
    margin-right: 600px;
    color: #636363;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
a {
    color: #35637A;
}