@import '../auth.component.css';
.wrapper {
    margin-top: 180px;
}
.forgotPass {
    text-align: left;
    padding: 10px;
    padding-left: 25px;
    color: #35637A;
    text-decoration: none;
    cursor: pointer;
}