<div class="background">
  <div class="wrapper">
    <div [hidden]="!resetError" class="loginError">
      Your username and/or email are incorrect.  Not sending email.
    </div>
    <div class="tile">
      <div class="title">
        Reset Password
      </div>
      <hr>
      <form #form="ngForm" (ngSubmit)="reset()">
        <div class="formGroup">
          <input type="text" id="username" name="username" placeholder="Username" required [(ngModel)]="resetInfo.username" #username="ngModel">
          <div [hidden]="username.valid || username.untouched" class="alert">
            Username field is required
          </div>
        </div>
        <div class="formGroup">
          <input type="text" id="email" name="email" placeholder="Email" required [(ngModel)]="resetInfo.email" #email="ngModel">
          <div [hidden]="email.valid || email.untouched" class="alert">
            Email field is required
          </div>
        </div>
        <button type="submit" class="signIn" [disabled]="!form.form.valid">Reset</button>
      </form>
    </div>
  </div>
  <div class="footer" routerLink="/auth/sign-in" routerLinkActive="active">
    Remember your password?
    <a>Log In</a>
  </div>
</div>