.header {
    padding-left: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: linear-gradient(to bottom right, #35637A, rgb(24, 141, 199));
    color: white;
    font-size: 35px;
}
p {
    font-size: 18px;
}
a {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    cursor: pointer;
}