.header {
    background-image: linear-gradient(to bottom right, #35637A, rgb(24, 141, 199));
    color: #636363;
    font-size: 35px;
}
button {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    background-color: white;
    display: block;
    margin: 15px;
    color: #636363;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 210px;
    height: 60px;
    opacity: 1;
    box-shadow: #636363 1px 1px 20px;
}
button:hover {
    -moz-transition-duration: .4s;
    transition-duration: .4s;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
}
button:disabled {
    background: #636363;
    color: white;
    cursor: context-menu;
    box-shadow: none;
}
button:disabled:hover {
    border: none;
}
.remove {
    background-color: #ffa5a5;
    color: #c40b0b;
}
.remove:hover {
    border: none;
    background-color: #ffa5a5;
    opacity: .9;
}
.menu {
    float: right;
    margin-right: 250px;
    margin-top: 15px;
}
.info {
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.section {
    background-color: white;
    padding: 50px;
    color: black;
    box-shadow: #636363 1px 1px 20px;
    font-size: 25px;
}
.description {
    color: #636363;
    font-size: 16px;
}
.label {
    background: white;
    padding: 10px;
    color: #35637A;
    width: wrap;
    text-align: center;
    font-size: 16px;
    width: 100px;
}
p {
    font-size: 18px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #35637A;
    border-bottom-color: #35637A;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
a:visited {
    color: #35637A;
}
.inlay {
    background-image: url('../../../assets/pictures/mountain-inlay.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 70px;
    height: 200px;
    padding-left: 220px;
    padding-top: 150px;
    padding-bottom: 70px;
}