.card {
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    background-color: white;
    width: 300px;
    height: 350px;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 1px 1px 10px #444444;
    cursor: pointer;
    z-index: 1;
}
.card:hover {
    -moz-transition-duration: .4s;
    transition-duration: .4s;
    opacity: .9;
}
.cTitle{
    background-image: linear-gradient(to bottom right, #35637A, rgb(24, 141, 199));
    width: 300px;
    padding: 25px;
    height: 20px;
    text-align: left;
    font-size: 20px;
    color: white;
}
.content {
    padding: 10px;
    font-size: 16px;
    color: #424242;
    text-align: left;
}
.pad {
    padding-top: 1px;
}