<div class="navbar">
  <div *ngIf="authService.isLoggedIn">
    <button class="buildBtn"></button>
    <button class="libraryBtn"></button>
    <button class="userBtn" (click)="toggle()"></button>
  </div>
  <div *ngIf="!authService.isLoggedIn">
      <button class="loginBtn" routerLink="/auth/sign-in" routerLinkActive="active">Sign In</button>
  </div>
  <div class="meatball" *ngIf="meatball">
    <button class="item" (click)="toggle()" routerLink="/eventyrer/profile/{{ authService.user.username }}" routerLinkActive="active">Profile</button>
    <button class="item" (click)="toggle()">Reset Password</button>
    <button class="item" (click)="signout()">Sign Out</button>
  </div>
</div>
<router-outlet></router-outlet>